* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    min-height: 100vh;
}

body {
    background-image: url(../src/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    border: black 2px solid;
    border-radius: 10px;
    text-align: center;
}

.container a {
    padding: 5px;
    width: 50%;
    background-color: #ffffff;
    color: black;
    border: black 1px solid;
    border-radius: 20px;
    text-decoration: none;
}

.container a:hover {
    background-color: black;
    color: #ffffff;
    transform: scale(1.1);
    transition: 0.2s;
}

.container a:focus {
    color: red;
}

#aEffect {
    display: none;
}

#aEffect:target {
    display: block;
    font-size: 50px;
    color: crimson;
}