* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 25vw 25vw;
    grid-template-rows: 25vh 25vh;
    background-color: black;
}

.container img {
    width: 25vw;
    height: 25vh;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}